<div class="flex w-screen h-screen flex-col justify-center items-center background-image">
	<div
		class="h-auto w-96 rounded-3xl overflow-hidden shadow-lg  items-center backdrop-filter backdrop-blur-3xl">

		<form (ngSubmit)="searchCity()" [formGroup]="cidadeForm" class="flex mt-14 justify-center items-center">
			<input class="h-8 w-64 rounded-full text-center text-lg focus:outline-none" type="text"
				formControlName="cidade" id="cidade">
		</form>

		<div class="flex justify-center mt-4">
			<img class="w-16" src="{{clima != null ? clima.current.condition.icon : 'Procurando'}}"
				alt="Icone do Clima">
		</div>

		<div class="px-8 pb-8 mt-2 text-xl text-white font-semibold">
			<p>Região/Estado: {{clima != null ? clima.location.region : "Procurando"}}</p>
			<p class="mt-2">País: {{clima != null ? clima.location.country : "Procurando"}}</p>
			<p class="mt-2">Temperatura: {{clima != null ? clima.current.temp_c : "Procurando"}} &#176;C</p>
			<p class="mt-2">Pressão: {{clima != null ? clima.current.pressure_in : "Procurando"}} mb</p>
			<p class="mt-2">Umidade: {{clima != null ? clima.current.humidity : "Procurando"}}%</p>
			<p class="mt-2">Condição: {{clima != null ? clima.current.condition.text : "Procurando"}}</p>
			<p class="mt-2">Vento: {{clima != null ? clima.current.wind_kph + " Km/h -" +clima.current.wind_dir : "Procurando"}}</p>
		</div>
	</div>

	<a class="weather-api" href="https://www.weatherapi.com/" title="Free Weather API">
		<img src='//cdn.weatherapi.com/v4/images/weatherapi_logo.png' alt="Weather data by WeatherAPI.com" border="0">
	</a>
</div>