.weather-api{
	position: absolute;
    right: 12px;
    bottom: 12px;
}

.background-image{
	background-image: url('../../../../assets/images/planeta-terra.jpg');
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}